@keyframes shake {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(25px);
	}

	50% {
		transform: translateX(-25px);
	}
	100% {
		transform: translateX(0px);
	}
	/* div.nav {
		height: auto;
	} */
}
.WebContainer {
	width: 100%;
	height: auto;
}
@media only screen and (max-width: 365px) {
	html,
	body {
		overflow-x: hidden;
	}
	.sidepic {
		visibility: hidden;
	}

	.disp div.title1 {
		position: absolute;
		top: 10%;
	}

	.background1 {
		background-repeat: repeat;
		background-size: cover;
	}
	.title1 {
		display: flex;
		left: 30%;
	}
	button.nav-btn.open-btn {
		display: flex;
		top: 4%;
		right: 10%;
	}
	.disp {
		display: flex;
		flex-direction: row;
	}
	.banner.cropped {
		width: 90%;
		height: 5%;
		left: 5%;
		margin-top: 10%;
	}

	.Footer {
		visibility: hidden;
	}
	.ourworkbody {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		margin-left: 2.5%;
	}

	p.headp1 {
		margin-left: 10%;
	}
	p.headp {
		width: 80%;
		text-align: center;
	}

	.ourworkbody.headp1 {
		position: absolute;
		margin-left: 0%;
	}
	.down {
		margin-top: 30%;
		width: 100%;
		text-align: justify;
	}
	p.ourworkbody1 {
		margin-left: 2.5%;
		text-align: justify;
		width: 90%;
	}

	.doublelist {
		padding-top: 0%;
		padding-bottom: 0%;
	}

	.sidebyside {
		flex-direction: column;
		width: 100%;
		margin-left: 7.5%;
	}

	.sidebyside1 {
		flex-direction: column;
		width: 90%;
		margin-left: 5%;
	}

	.sidebyside img {
		margin-left: 0%;
		margin-bottom: 5%;
		width: 85%;
	}
	.below {
		margin-left: 20%;
		margin-top: 50%;
	}

	div.scrolltip {
		width: 350px;
	}

	.cropped {
		display: inline-block;
		left: 10%;
		position: absolute;
		top: 40%;
		height: 30px;
	}

	.center {
		text-align: center;
		align-items: center;
	}
	div.carousel {
		width: 85%;
		overflow-x: hidden;
	}

	.image-container {
		width: 500px;
		height: 350px;
	}
	div.nav {
		height: auto;
	}

	div.approach {
		top: 70%;
		height: auto;
		width: 85%;
		border: none;
		filter: drop-shadow(0 0 0.5rem black);
	}

	.approach h2 {
		margin-left: 20%;
		text-align: center;
	}

	div.personalprocess {
		display: flex;
		position: absolute;
		top: 110%;
		width: 100%;
		height: 100%;
		left: 0;
	}

	div.personalprocess div.scrollinfo {
		width: 95%;
		height: auto;
	}

	.worklinkdiv {
		visibility: hidden;
	}
	div.products {
		margin-top: 70%;
		width: 85%;
		margin-left: 12.5%;
	}

	div.products img {
		width: 40%;
		margin-left: 5%;
	}
}

@media only screen and (max-width: 380px) {
	html,
	body {
		overflow-x: hidden;
	}

	.sidepic {
		visibility: hidden;
	}
	.background1 {
		background-repeat: repeat;
		background-size: cover;
	}

	.disp div.title1 {
		position: absolute;
		top: 10%;
	}

	.scrolltip p {
		width: 130%;
		margin-left: -50px;
	}

	p.p120 {
		margin: 0;
	}

	div.vertcarousel {
		width: 85%;
		left: 7.5%;
		overflow-x: hidden;
	}
	.disp img#logo {
		width: 25%;
	}
	.linkText {
		margin-top: 0rem;
	}
	button.nav-btn.open-btn {
		display: flex;
		top: 4%;
		right: 10%;
	}
	.disp {
		display: flex;
		flex-direction: row;
	}
	.banner.cropped {
		width: 90%;
		height: 5%;
		left: 5%;
		margin-top: 10%;
	}

	.Footer {
		visibility: hidden;
	}
	.ourworkbody {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 90%;
		margin-left: 2.5%;
	}
	.headp {
		margin-left: 5%;
	}

	.headp1 {
		margin-left: 15%;
	}
	.down {
		margin-top: 30%;
		width: 100%;
		text-align: justify;
	}
	p.ourworkbody1 {
		margin-left: 2.5%;
		text-align: justify;
		width: 90%;
	}

	.doublelist {
		padding-top: 0%;
		padding-bottom: 0%;
	}

	.sidebyside {
		flex-direction: column;
	}

	.sidebyside1 {
		flex-direction: column;
		width: 90%;
		margin-left: 5%;
	}

	.sidebyside img {
		margin-left: 0%;
		margin-bottom: 5%;
		width: 85%;
	}
	.below {
		margin-left: 20%;
		margin-top: 50%;
	}

	.cropped {
		display: inline-block;
		left: 10%;
		position: absolute;
		top: 40%;
		height: 30px;
	}

	.center {
		text-align: center;
		align-items: center;
	}
	div.carousel {
		width: 85%;
		margin-top: 8%;
		overflow-x: hidden;
		position: absolute;
	}

	div.infocircle {
		width: 50px;
		height: 50px;
		line-height: 40px;
	}
	div.infocircle h1 {
		width: 50px;
	}
	.scrolltip {
		width: 100%;
	}

	.image-container {
		width: 500px;
		height: 350px;
	}

	.otter div.scrolltip {
		position: absolute;
		width: 90%;
		margin-left: 5%;
		left: 0;
		padding-right: 4%;
		font-size: 10px;
	}

	p.movedover {
		position: flex;
		margin-left: 4%;
		width: 100%;
		padding-right: 0%;
		color: white;
		font-size: 15px;
	}

	.guidestrong {
		color: white;
		font-size: 15px;
		font-weight: bolder;
	}
	div.nav {
		height: auto;
	}
	div.approach {
		top: 67.5%;
		margin-top: 15%;
		height: auto;
		width: 85%;
		border: none;
		filter: drop-shadow(0 0 0.5rem black);
	}

	.approach h2 {
		margin-left: 20%;
		text-align: center;
	}

	.disp img#logo {
		filter: none;
	}

	div.personalprocess {
		display: flex;
		position: absolute;
		top: 110%;
		margin-top: 35%;
		width: 100%;
		height: 100%;
		left: 0;
	}

	div.personalprocess div.scrollinfo {
		width: 95%;
		height: auto;
	}

	.worklinkdiv {
		visibility: hidden;
	}

	div.products {
		margin-top: 75%;
		width: 85%;
		margin-left: 12.5%;
	}

	div.products img {
		width: 40%;
		margin-left: 5%;
	}
}

@media only screen and (max-width: 415px) {
	html,
	body {
		width: 95%;
		overflow-x: hidden;
	}
	.sidepic {
		visibility: hidden;
	}
	div.contactForm {
		width: 70%;
	}
	div.vertcarousel {
		width: 85%;
		left: 7.5%;
		overflow-x: hidden;
	}

	.vertcarousel img {
		width: 100%;
	}

	#topInput {
		padding-top: 70%;
	}

	div.nav {
		height: auto;
	}
	.otter div.scrolltip {
		position: absolute;
		width: 90%;
		margin-left: 5%;
		left: 0;
		padding-right: 4%;
		font-size: 10px;
	}

	.scrolltip p {
		width: 130%;
		margin-left: -50px;
	}
	.scrolltip h2 {
		font-size: 20px;
	}

	div.infocircle {
		width: 50px;
		height: 50px;
		line-height: 40px;
	}
	div.infocircle h1 {
		width: 50px;
	}
	.disp div.title1 {
		position: absolute;
		top: 5%;
	}
	.background1 {
		background-repeat: repeat;
		background-size: cover;
	}
	.linkText {
		margin-top: 0rem;
		text-align: center;
	}

	.title1 {
		left: 35%;
	}

	button.nav-btn.open-btn {
		display: flex;
		top: 4%;
		right: 5%;
		font-size: 70px;
	}
	.disp {
		display: flex;
		flex-direction: row;
	}
	.banner.cropped {
		width: 90%;
		height: 5%;
		left: 5%;
		top: 18%;
	}

	.disp img#logo {
		width: 25%;
	}

	.Footer {
		visibility: hidden;
	}
	.ourworkbody {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		width: 90%;
		margin-left: 4%;
	}
	.headp {
		margin-left: 5%;
	}

	.headp1 {
		margin-left: 15%;
	}
	.down {
		margin-top: 30%;
		width: 100%;
		text-align: justify;
	}
	p.ourworkbody1 {
		margin-left: 2.5%;
		text-align: justify;
		width: 90%;
	}

	.doublelist {
		padding-top: 0%;
		padding-bottom: 0%;
	}

	.sidebyside {
		flex-direction: column;
	}

	.sidebyside1 {
		flex-direction: column;
		width: 90%;
		margin-left: 5%;
	}

	.sidebyside img {
		margin-left: 0%;
		margin-bottom: 5%;
		width: 85%;
	}
	.below {
		margin-left: 20%;
		margin-top: 50%;
	}

	.center {
		text-align: center;
		align-items: center;
	}
	div.carousel {
		width: 80%;
		height: auto;
		left: 10%;
		overflow-x: hidden;
	}

	.caseTitle {
		width: 100%;
	}
	.image-container {
		width: 500px;
		height: 350px;
	}

	.worklinkdiv {
		display: flex;
	}
	a.ourworklink {
		padding-left: 25%;
	}
	ul.list {
		padding-top: 0%;
	}

	div.approach {
		top: 65%;
		height: auto;
		width: 85%;
		border: none;
		filter: drop-shadow(0 0 0.5rem black);
	}

	.approach h2 {
		margin-left: 20%;
		text-align: center;
	}

	div.personalprocess {
		display: flex;
		position: absolute;
		top: 110%;
		width: 100%;
		height: 100%;
		left: 0;
	}

	div.personalprocess div.scrollinfo {
		width: 95%;
		height: auto;
	}

	.worklinkdiv {
		visibility: hidden;
	}

	div.products {
		margin-top: 75%;
		width: 85%;
		margin-left: 12.5%;
	}

	div.products img {
		width: 40%;
		margin-left: 5%;
	}
}

@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
	box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey;
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(77, 167, 216);
	border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(77, 167, 216);
}

.text {
	text-transform: uppercase;
}
.nav-btn {
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-size: 40px;
}

.open-btn {
	position: absolute;
	top: 120px;
	right: 80px;
	color: white;
	filter: drop-shadow(0 0 0.5rem black);
}

.nav {
	position: absolute;
	top: 0;
	left: 0;
	height: 50vh;
	transform: translateX(-100%);
	transition: transform 0.3s ease-in-out;
	color: black;
	z-index: 2;
}

.nav.visible {
	transform: translateX(0);
}

.nav-black {
	background-color: rgb(34, 31, 31);
	width: 30%;
	max-width: 350px;
	min-width: 180px;
	transition-delay: 0.4s;
	height: 66.59vh;
}

.nav-black.visible {
	transition-delay: 0s;
	filter: drop-shadow(0 0 0.5rem black);
}

.nav-red {
	background-color: rgb(0, 187, 260);
	width: 95%;
	transition-delay: 0.2s;
	height: 66.59vh;
}

.nav-red.visible {
	transition-delay: 0.2s;
}

.nav-white {
	background-color: #fff;
	width: 95%;
	padding-top: 10rem;
	transition-delay: 0s;
	height: 66.59vh;
}

.nav-white.visible {
	transition-delay: 0.4s;
}

.navigation {
	position: absolute;
	width: 50px;
	height: auto;
	color: white;
	top: 100px;
	left: 100px;
	z-index: 999;
	border: solid white 2px;
}

.close-btn {
	opacity: 0.3;
	position: absolute;
	top: 0.5rem;
	right: 1.2rem;
}

.list {
	list-style-type: none;
	padding: 0;
	padding-top: 5rem;
}

.list li {
	margin: 0.66rem 0;
}

.list li a {
	color: rgb(34, 31, 31);
	font-size: 14px;
	text-decoration: none;
	text-transform: uppercase;
}

.list ul {
	list-style-type: none;
	padding-left: 20px;
	padding-top: 1rem;
}

.vishid {
	visibility: hidden;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
		"Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
		"Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-image: url("assets/background1.jpg");
	background-size: cover;
	background-repeat: repeat;
	height: auto;
}

.background1 {
	background-image: url("assets/background1.jpg");
	background-size: cover;
	height: auto;
	width: auto;
	background-repeat: repeat;
	z-index: 100;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

.fa {
	color: white;
}

.back {
	width: cover;
}

.linkText {
	display: inline-flex;
	flex-direction: row;
	margin-top: 1.5rem;
	margin-left: 1.25rem;
	margin-right: 2.25rem;
	padding-top: 0rem;
	padding-left: 1rem;
	padding-right: 1rem;
	color: white;
	text-align: center;
	font-size: 2rem;
	filter: drop-shadow(0 0 0.5rem rgb(0, 187, 260));
}

.linkText:hover {
	animation: shake 0.8s;
}
/*left: 42%;
top: 57.25%;
*/
img#logo {
	position: absolute;
	top: 2rem;
	left: 20px;
	height: auto;
	width: 15%;
	z-index: 500;
}

#logo.leftTop {
	position: absolute;
	top: 2rem;
	left: 20px;
	transition-duration: 3s;
}

#logo:hover {
	transform: rotateZ(360deg);
	transform-origin: 42.5%;
	transition-duration: 3s;
}

.logoup {
	position: fixed;
	transform: translateY(-200%);
	transition-duration: 2.5s;
}
.cropped {
	filter: drop-shadow(0 0 2.5rem black);
}

/*.croppedup {
	position: absolute;
	transform: translateY(-675%);
	transition-duration: 3s;
}
*/

.title1 {
	position: relative;
	top: 2rem;
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	color: white;
}

.title {
	font-size: 2rem;
	font-weight: 600;
	text-align: center;
	color: white;
}

.hgt75 {
	height: 7.5rem;
	text-align: center;
}

.cropped:hover {
	filter: drop-shadow(0 0 3rem black);
}
.cropped.croppedup:hover {
	filter: drop-shadow(0 0 2.5rem black);
}

.cropped.croppedup.rightalittle {
	transform: translateY(2rem);
}

.center {
	text-align: center;
	align-items: center;
}

.carousel img {
	width: 100%;
}

.vertcarousel img {
	width: 100%;
	height: auto;
}

.carousel1 img {
	width: 100%;
	height: auto;
}

.caseTitle {
	display: flex;
	position: absolute;
	bottom: 10%;
	left: 3%;
	font-size: 1.75rem;
	font-weight: bolder;
	color: white;
	z-index: 400;
}

.carousel {
	position: absolute;
	top: 30%;
	left: 35%;
	height:51%;
	width: 35%;
	border: solid 5px white;
	filter: drop-shadow(0 0 2.5rem black);
	flex-wrap: nowrap;
	overflow-x: hidden;
	
}

.vertcarousel {
	display: flex;
	position: absolute;
	top: 30%;
	left: 40%;
	height: 51%;
	width: 20%;
	border: solid 5px white;
	filter: drop-shadow(0 0 2.5rem black);
	flex-wrap: nowrap;
	overflow-x: hidden;
}
.buttons-container {
	display: flex;
	justify-content: space-between;
}

.horizontal {
	position: absolute;
	top: 35%;
	object-fit: contain;
	
	
	
}
.active {
visibility: visible;

}

.inactive {
	visibility: hidden;
}

.horizontal1 {
	display: flex;
	flex-wrap: nowrap;
}

.btn1 {
	background-color: rgb(77, 167, 216);
	color: #fff;
	border-left: 0px;
	border-top: 2px;
	border-right: 1px;
	border-bottom: 0px;
	border-color: white;
	border-style: solid;
	flex-direction: row;
	padding: auto;
	cursor: pointer;
	height: 10%;
	width: 50%;
	bottom: -1.75%;
	position: fixed;
	z-index: 301;
	font-size: 1rem;
	font-weight: bolder;
	color: white;
	left: 0;
}

.btn2 {
	background-color: rgb(77, 167, 216);
	color: #fff;
	border-left: 1px;
	border-top: 2px;
	border-right: 0px;
	border-bottom: 0px;
	border-color: white;
	border-style: solid;
	flex-direction: row;
	padding: auto;
	cursor: pointer;
	width: 50%;
	height: 10%;
	bottom: -1.75%;
	position: fixed;
	z-index: 300;
	font-size: 1rem;
	font-weight: bolder;
	color: white;
	left: 50%;
}

.btn:hover {
	opacity: 0.9;
}

.btn:focus {
	outline: none;
}

.sidebyside1 {
	display: flex;
	position: relative;
}

.sidebyside {
	display: flex;
	position: relative;
}
.sidebyside img {
	padding-right: 20px;
}

.image-container {
	position: absolute;
	object-fit: cover;
	width: 100%;
	transform: visibility ease-in-out 0.5s;
	/* transition: transform 0.8s ease-in-out; */
}

.prelim {
	width: 28%;
	display: flex;
	flex-direction: column;
}

.prelim1 {
	width: 19%;
}

.container1 {
	position: relative;
}

.bottomleft {
	position: absolute;
	bottom: 8px;
	left: 16px;
	font-size: 18px;
	color: white;
}

.ourworkbody {
	position: absolute;
	top: 30%;
	left: 5%;
	height: auto;
	border: none;
	filter: drop-shadow(0 0 0.5rem black);
}
.ourworkbody1 {
	color: white;
	filter: drop-shadow(0 0 0.5rem black);
	width: 60%;
	font-size: 18px;
}

.doublelist {
	display: flex;
	width: 10%;
	color: white;
	flex-direction: column;
	font-size: 25px;
	background-color: rgba(69, 67, 138, 0.5);
	padding-bottom: 20px;
	padding-top: 10px;
	padding-right: 10px;
	font-weight: bolder;
}
.doublelist li {
	padding-right: 20px;
}

.approach {
	position: absolute;
	top: 30%;
	left: 5%;
	height: auto;
	width: 25%;
	border: none;
	filter: drop-shadow(0 0 0.5rem black);
}
.approach h2 {
	color: white;
	filter: drop-shadow(0 0 2.5rem black);
	width: 60%;
}

div.scrollinfo {
	position: absolute;
	top: 30%;
	right: 5%;
	filter: drop-shadow(0 0 0.5rem black);
	width: 25%;
	height: 51%;
	overflow: auto;
	text-align: justify;
	padding: 20px;
}

.guideline {
	width: 90%;
	margin-left: 2%;
	overflow: none;
}
.pl20 {
	padding-left: 80px;
	color: white;
	margin-bottom: 30px;
	overflow: auto;
	text-align: justify;
	font-size: 17.5px;
}

ul {
	list-style-image: none;
	list-style: none;
	list-style-type: none;
	font-style: italic;
	text-align: left;
}

.beforescrolltip {
	width: 0%;
}
div.scrolltip {
	position: absolute;
	top: 30%;
	filter: drop-shadow(0 0 0.5rem black);
	width: 50%;
	height: 51%;
	margin-left: 25%;
	overflow: auto;
	text-align: justify;
	padding: 20px;
	background-color: rgba(9, 6, 122, 0.5);
	border-radius: 20px 20px 20px 20px;
}

.Footer .bottominfo {
	position: absolute;
	bottom: 80%;
	padding-left: 21.5%;
	display: flex;
	flex-direction: row;
	filter: drop-shadow(0 0 0.5rem black);
}

.bottom {
	padding-left: 30px;
}

.ourworklink {
	position: absolute;
	color: white;
	font-size: 30px;
	font-weight: bolder;
	bottom: 10%;
	padding-left: 45%;
	filter: drop-shadow(0 0 0.5rem black);
}
.scrolltip h2 {
	text-align: center;
	color: white;
	margin-left: 10%;
	margin-right: 10%;
}
.info {
	display: flex;
	flex-direction: row;
	width: auto;
	color: white;
	font-size: 20px;
	text-align: center;
	margin-bottom: 60px;
}

.infocircle {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	box-sizing: border-box;
	text-align: center;
	line-height: 75px;
	background-color: rgb(63, 187, 254);
	color: white;
	padding-bottom: 30px;
	display: inline-block;
	margin-right: 2%;
}

.infocircle h1 {
	display: flex;
	color: white;
	justify-content: center;
	width: 75px;
	text-align: center;
	filter: drop-shadow(0 0 0.5rem black);
}

.vertical1 {
	width: 40%;
}

h1 {
	color: white;
}

p.movedover {
	position: flex;
	margin-left: 4%;
	width: 100%;
	padding-right: 0%;
	color: white;
	font-size: 15px;
}

.guidestrong {
	color: white;
	font-size: 15px;
	font-weight: bolder;
}

.rel {
	position: relative;
}

.approach p {
	filter: drop-shadow(0 0 1.5rem black);
	color: white;
	width: 100%;
	padding: 5px;
	opacity: 0.9;
	font-size: 25px;
}

.approach li {
	filter: drop-shadow(0 0 1.5rem black);
	color: white;
	padding-left: 5px;
	width: 100%;
	opacity: 0.9;
	font-size: 25px;
}

.headp {
	color: white;
	width: 100%;
	opacity: 0.9;
	font-size: 25px;
	font-weight: bold;
	padding-left: 0px;
	filter: drop-shadow(0 0 1.5rem black);
}

.headp1 {
	color: white;
	width: 100%;
	opacity: 0.9;
	font-size: 25px;
	font-weight: bold;
	padding-left: 0px;
	filter: drop-shadow(0 0 1.5rem black);
}

.worklinks a {
	color: turquoise;
}

.bold {
	color: turquoise;
	font-weight: bolder;
}

.worklinks {
	filter: drop-shadow(0 0 1.5rem rgb(63, 187, 254));
	color: white;
}

.space50 {
	bottom: 50px;
	color: white;
}
.Footer {
	position: fixed;
	display: flex;
	top: 96%;
	width: 100%;
	font-weight: bolder;
	text-align: center;
	color: white;
	filter: drop-shadow(0 0 0.75rem black);
}

.comp {
	width: 100%;
	left: 45%;
	filter: drop-shadow(0 0 0.5rem black);
}
.info p {
	color: white;
	margin: 0.1rem;
	font-size: 17.5px;
	text-align: justify;
}
.info h1 {
	margin: 0.1rem;
	text-align: right;
	font-weight: 500;
	filter: drop-shadow(0 0 1.5rem black);
}

.scrollinfo p {
	color: white;
	filter: drop-shadow(0 0 1.5rem black);
}

.shadow {
	filter: drop-shadow(0 0 0.5rem black);
}
.shadow1 {
	text-shadow: 5px 0px 5px black;
}

.shadowwhite {
	text-decoration: 5pxdouble;
	filter: drop-shadow(3px 3px 2px 2.5rem white);
}
.transitionpanel {
	width: 50rem;
	height: 20rem;
	border: 2px solid white;
	background-color: black;
	margin-left: 20%;
	margin-top: 20rem;
	display: flex;
}

.element {
	width: 50%;
	height: auto;
}

.upleft {
	position: absolute;
	top: 0%;
	right: 50%;
	height: 50%;
	width: auto;
}

.upleftmove {
	position: absolute;
	top: -50%;
	right: 100%;
	content: "";
	transition: all 1s ease-in-out;
}

.upright {
	position: absolute;
	top: 0%;
	left: 49.79%;
	height: 50%;
	width: auto;
}

.uprightmove {
	position: absolute;
	left: 100%;
	top: -50%;
	content: "";
	transition: all 1s ease-in-out;
}

.downleft {
	position: absolute;
	top: 50%;
	right: 50%;
	height: 50%;
	width: auto;
}

.downleftmove {
	position: absolute;
	right: 100%;
	top: 100%;
	content: "";
	transition: all 1s ease-in-out;
}

.downright {
	position: absolute;
	top: 50%;
	left: 50%;
	height: 50%;
	width: auto;
	overflow: hidden;
	z-index: 0;
}

.downrightmove {
	position: absolute;
	left: 100%;
	top: 100%;
	content: "";
	transition: all 1s ease-in-out;
}

.startbox {
	width: auto;
	height: 1200px;
}

.banner {
	position: absolute;
	top: 10%;
	width: 60%;
	left: 20%;
}
div .clicklogo {
	position: relative;
	top: 2%;
	left: 45%;
	display: inline-block;
	align-items: center;
	color: darkturquoise;
	font-size: 30px;
	z-index: 600;
	font-weight: bolder;
}

.bigcen {
	margin-left: 35%;
}

.sidepic {
	position: absolute;
	right: 5%;
	width: 25%;
	height: auto;
	top: 37.5%;
	filter: drop-shadow(0 0 0.5rem black);
}

.contactForm {
	width: 25%;
	margin: auto;
	margin-top: 19%;
}

.products {
	display: flex;
	margin-top: 15%;
	width: 85%;
	margin-left: 7.5%;
	height: auto;
	background-color: rgba(241, 240, 245, 0.5);
	border-radius: 25px;
	flex-wrap: wrap;
}

.products img {
	margin: 2.5%;
	width: 15%;
}
